.j-search-form-bar .j-form-group {
    display: inline-block;
    margin-right: 20px;
}

.j-search-form-bar .j-form-btn-group{
    float: right;
}

.j-search-form-bar .j-form-label {
    padding: 9px 0;
    width: auto;
    display: inline-block;
}

.j-search-form-bar .j-input-block {
    display: inline-block;
    margin-left: 10px;
}

.j-search-form-bar .j-w-150{
    width: 150px;
}

.j-search-form-bar .j-w-200{
    width: 200px;
}

.j-back-bar{
    padding-bottom: 8px;
}

.table-oper{
    padding-right: 8px;
}
a.table-oper:link,a.table-oper:visited,a.table-oper:hover,a.table-oper:active{
    text-decoration: none;
}

a.table-link{
    color: #4C8FBD;
}

img.table-img{
    width: 60px;
    max-height: 60px;
}

img.form-img{
    margin-top: 12px;
    width: 100px;
    max-height: 100px;
}

.layui-form-label{
    width: 100px;
}

.hide{
    display: none;
}

.private-type{
    color: #DD5A43!important;
}

.public-type{
    color: #69AA46!important;
}