<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout">
<div th:fragment="content">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">上下文配置</a>
            </li>
            <li><a href="#">上下文实现配置</a></li>
            <li class="active">查看</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- 返回栏 -->
                <div class="j-back-bar">
                    <div class="j-back-btn-group">
                        <button class="btn btn-white btn-success btn-round j-step-backward">
                            <i class="ace-icon fa fa-backward "></i>
                            返回
                        </button>
                    </div>
                </div>

                <!-- 表单 -->
                <form class="layui-form" action="">
                    <input type="hidden" name="id" th:value="${context.id}"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上下文名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="contextName" th:value="${context.contextName}" required  lay-verify="required"
                                   placeholder="请输入上下文名称" autocomplete="off" class="layui-input"
                                   readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">全类名</label>
                        <div class="layui-input-block">
                            <input type="text" name="className" th:value="${context.className}" required  lay-verify="required"
                                   placeholder="请输入上下文全类名" autocomplete="off" class="layui-input"
                                   readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">参数全类名</label>
                        <div class="layui-input-block">
                            <input type="text" name="paramClassName" th:value="${context.paramClassName}" required  lay-verify="required"
                                   placeholder="请输入上下文参数全类名" autocomplete="off" class="layui-input"
                                   readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上下文描述</label>
                        <div class="layui-input-block">
                            <textarea name="contextDesc" th:text="${context.contextDesc}"
                                      placeholder="请输入上下文描述"
                                      autocomplete="off" class="layui-textarea" maxlength="400"
                                      readonly
                            ></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序号</label>
                        <div class="layui-input-block">
                            <input type="text" name="orderNum" th:value="${context.orderNum}" required  lay-verify="required|number"
                                   placeholder="请输入排序号" autocomplete="off" class="layui-input"
                                   readonly
                            >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" th:checked="${context.status=='1'}" name="switch" lay-skin="switch" lay-text="启用|禁用" disabled>
                        </div>
                    </div>
                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

</html>

<script th:src="${'/static/js/context/detail.js'}"></script>