<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="public/layout">
<div th:fragment="content">
    <link rel="stylesheet" th:href="${'/static/css/project/managerUser.css'}">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">项目组</a>
            </li>
            <li><a href="#">项目组</a></li>
            <li class="active">管理项目用户</li>
        </ul><!-- /.breadcrumb -->
    </div>

    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <!-- 返回栏 -->
                <div class="j-back-bar">
                    <div class="j-back-btn-group">
                        <button class="btn btn-white btn-success btn-round j-step-backward">
                            <i class="ace-icon fa fa-backward "></i>
                            返回
                        </button>
                    </div>
                </div>

                <!-- 表单 -->
                <form class="layui-form" action="">
                    <input type="hidden" name="id" id="projectId" th:value="${id}"/>

                    <div class="layui-form-item">
                        <label class="layui-form-label">项目组成员</label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="user_select_btn">
                                选择用户
                            </button>
                            <div class="user-list-wapper">
                                <ul class="user-list" id="user_list">
                                    <!--<li data-id="">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">用户名</label>
                                            <div class="layui-input-inline"><span class="user-name">游盼盼</span></div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">项目管理员</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" name="switch" lay-skin="switch" lay-text="是|否">
                                            </div>
                                        </div>
                                        <div class="layui-inline del-layui-item">
                                            <label class="layui-form-label"><i class="fa fa-close del-icon"></i></label>
                                        </div>
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="save-userproject-filter">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

</html>

<script th:src="${'/static/js/project/managerUser.js'}"></script>
